In [40]:
#nestedfor is similair of nestedif 
#in this nestedfor the var in data its perform another for to perform action with combination
a=10
count=0
for i in range(1,a+1):                                 #get the possible of value is divisible by 2 in a given range
    print("when i =",i)
    for j in range(1,a+1):
        if i*j %7==0:
            count=count+1
            print(i,'*',j)

print(count,"possible")

when i = 1
1 * 7
when i = 2
2 * 7
when i = 3
3 * 7
when i = 4
4 * 7
when i = 5
5 * 7
when i = 6
6 * 7
when i = 7
7 * 1
7 * 2
7 * 3
7 * 4
7 * 5
7 * 6
7 * 7
7 * 8
7 * 9
7 * 10
when i = 8
8 * 7
when i = 9
9 * 7
when i = 10
10 * 7
19 possible

In [27]:
for i in range(1,a+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [74]:
n=6
for i in range(1,n+1):
    
    print()                            #pattern
    for j in range(i):
        print("*",end="")

*
**
***
****
*****
******

In [79]:
n=7
for i in range(1,n+1):
    print()
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print("*",end=" ")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [95]:
n=10
for i in range(1,n+1):
    print()
    for j in range(1,n+1):
        print(f"{i*j:4}",end=" ")              #used to format the order
print()

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

In [98]:
n=2
for i in range(n):
    print(i)

0
1