In [17]:
#TUPLE-its a non homogeneous,stores single & multiple data
#it is immutable
#allow duplicates
'''remove hello in tuple'''
k1=('hi','hello','how')       #if do any changes in tuple to change one type to other(immute->mutable) like this below 
l=list(k1)                    #the tuple is changed to list because to update changes
l.remove('hello')
print(l)
t=tuple(l)
t                             #if want to tuple finally that the same procedure to change type
print(type(t))

['hi', 'how']
<class 'tuple'>

In [50]:
mt =("fortuner", "XUV", "thar","creta")
print(mt[2])
print(mt[0:])
print(mt[-4:])
mtl=list(mt)
mtl[1]='lampo'
mtl

thar
('fortuner', 'XUV', 'thar', 'creta')
('fortuner', 'XUV', 'thar', 'creta')

['fortuner', 'lampo', 'thar', 'creta']

In [64]:
mt =("fortuner", "XUV", "thar","creta")
(gd,gd1,gd2,nb)=mt
print(mt[0])
print(gd)
print(gd1)
print(gd2)
print(nb)

fortuner
fortuner
XUV
thar
creta

In [66]:
veg = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow,red) = veg

print(green)
print(yellow)
print(red)                # because they dont have value for each element

ValueError: too many values to unpack (expected 3)

In [71]:
a=("fortuner", "XUV", "thar","creta")
(*car,)=a
print(car)   #Without the comma, (*car) not unpacking.

['fortuner', 'XUV', 'thar', 'creta']

In [73]:
a=("fortuner", "XUV", "thar","creta","rx")
(*car,bike)=a
print(car)
print(bike)

['fortuner', 'XUV', 'thar', 'creta']
rx

In [ ]:
mytuple1 = ("a", "b" , "c")
mytuple2 = (1, 2, 3)

mytuple3 = mytuple1 + mytuple2
print(mytuple3)                        # + in the sence it be concat the two elements

In [74]:
mytuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = mytuple.count(7)          #count the element

print(x)

2

In [75]:
#input
k=(1,32,5,870,90)
k1=(67,349)
k=list(k)
k1=list(k1)
k.extend(k1)
tuple(k)
# output
#k=(1,32,5,870,90,67,349)

(1, 32, 5, 870, 90, 67, 349)

In [76]:
#other one
tuple(list(k)+list(k1))

(1, 32, 5, 870, 90, 67, 349, 67, 349)