In [2]:
#list comprehension
#in 1 condition you declare loop then apply a condition
#if you get one or more condition to apply condition then declare loop
l=[]
n=8
for i in  range(n):
    l.append(i)
l           #normal meth

[0, 1, 2, 3, 4, 5, 6, 7]

In [3]:
l=[i for i in range(10)]
l #access on that list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
f i l
str i =str i[::-1]

In [6]:
#1 condition
l=[ 1, 2, 3, 4, 5, 6, 7]
a=[i for i in l if i%2==0 ]
a

[2, 4, 6]

In [12]:
#2 condition
l=[ 1, 2, 3, 4, 5, 6, 7]
a=["even" if i%2==0 else "odd"  for i in l]
print(a)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [2]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
l=[i for i in range(1,10) if i%2==0 ]
l

[2, 4, 6, 8]

In [7]:
n=[1,2,3,4,5,6,6]
l=["even" if i%2==0 else "odd" for i in n ]
l

['odd', 'even', 'odd', 'even', 'odd', 'even', 'even']

In [7]:
n=[111,212,345,412,506,689,700]
l=[i for i in n if str(i)==str(i)[::-1]  ]
print(l)

[111, 212]

In [13]:
#get input for variable in list
a=int(input())
l=[]
for i in range(a):
    b=int(input())
    l.append(b)
print(l)

 5
 1
 2
 3
 4
 5

[1, 2, 3, 4, 5]

In [14]:
a=int(input())
l=[]
for i in range(a):
    b=input()
    l.append(b)
print(l)

 3
 abi
 abir
 kalai

['abi', 'abir', 'kalai']

In [32]:
# Example: enter "10 20 30 40"
nums = list(map(int,input("Enter numbers separated by spaces: ").split()))
print(nums)

Enter numbers separated by spaces:  1 2 3 4 5

[1, 2, 3, 4, 5]

In [35]:
nums = list(map(int,input("Enter numbers separated by spaces: ").split(",")))
print(nums)

Enter numbers separated by spaces:  1,2,3,4,5

[1, 2, 3, 4, 5]

In [34]:
nums = list(input("Enter numbers separated by spaces: ").split())
print(nums)

Enter numbers separated by spaces:  abi abii

['abi', 'abii']

In [38]:
a=list(map(int,input("enter :").split()))
a

enter :  1 2 3 4

[1, 2, 3, 4]