In [ ]:
#LIST -mutable,multiple data type,allow duplicates
#Lists are created using square brackets

In [6]:
mylist = ["hi", "hello", "welcome","welcome"]
print(mylist[2])

welcome

In [7]:
mylist = ["hi", "hello", "welcome","welcome"]
print(mylist[-3])

hello

In [9]:
mylist = ["hi", "hello", "welcome","welcome",899]
print(mylist[2:4])

['welcome', 'welcome']

In [2]:
l=[2,4,6,8,9,10]
l.remove(8)
print(l)           # it removes the value 8 in list and it has duplicate it remove the 1st element occurs the value

[2, 4, 6, 9, 10]

In [10]:
l1=[2,4,6,8,9,10]     
l1[1:3]=[3]          #to change the 4,6 to 3
print(l1)
print(l1[2])

[2, 3, 8, 9, 10]
8

In [36]:
l1=[2,4,6,8,9,10,11,12,12,12,14]
l1[8:10]=[13]                     #normal list is to take the index position to change anytype to method from starting to ending
print(l1)

[2, 4, 6, 8, 9, 10, 11, 12, 13, 14]

In [51]:
l1[0]=[3]
print(l1)
l1[0:2]=[1,2]
print(l1)

[[3], 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 6, 8, 9, 10, 11, 12, 13, 14]

In [47]:
l2=[1,2,3,4,7,8,7]
l2[4:2]=[5,6]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 7]

In [75]:
l3=[4,5,9,10,11,12,13,14,17,18,20,23,24,25,26,30]
l3[0:0]=[1,2,3]
l3[5:5]=[6,7,8]
l3[14:14]=[15,16]             
l3.insert(18,19)
l3[20:20]=[21,22] 
l3[26:26]=[27,28,29]
l3.append(30)
l3.extend([31,32])
l3.pop()
l3.remove(30)
l3.extend([31,31,31,32])
l3[31:34]=[32,33,34]
l3[34]=35
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [82]:
l4=[1,2,3,4,5,6]
l4.clear()
print(l4)     # clear the data's in list but contains variable

[]

In [79]:
del l4
l4           #delete total list with variable

NameError: name 'l4' is not defined