In [7]:
#SET-{}
#unordered,mutable
#dont allow dupicates
a={1,2,3,4,5,2,3,1}
print(len(a))
a

5

{1, 2, 3, 4, 5}

In [17]:
list1=[1,2,3,4,5,5]
print(list1)
b=set(list1)       #convert to set
type(b)
b

[1, 2, 3, 4, 5, 5]

{1, 2, 3, 4, 5}

In [19]:
#ADD
c = {"apple", "banana", "cherry"}
c.add(1)

c.add("abi")
c.add(2.3)
print(type(c))
c

<class 'set'>

{1, 2.3, 'abi', 'apple', 'banana', 'cherry'}

In [22]:
#UPDATE -to add two set(like append) but its unorder
c={"apple", "banana", "cherry"}
c1={"red","yellow","dred"}
c2={1,2,3}
c.update(c1,c2)

print(c)

{1, 2, 3, 'yellow', 'dred', 'red', 'cherry', 'banana', 'apple'}

In [31]:
#REMOVE -to remove the specific value
d1={"python","java","sql"}
d1.remove("java")
#d.remove("django")
d1

{'python', 'sql'}

In [43]:
#discard -its also same as remove but in discard its print the set anywhere 'like the discard element not in set'
d2={"python","java","sql"}
d2.discard("django")
d2.discard("java")
d2

{'python', 'sql'}

In [51]:
#pop-in set it removes the last element but its unorder.(random element pop)
d3=d.pop()

print(d3)
d

banana

{'apple'}

In [55]:
#CLEAR -to clear the values in set
c.clear()
c

set()

In [57]:
#DEL-to delete entire set include variable
del c
c

NameError: name 'c' is not defined