In [1]:
#UNION-to concat two set ,to use | instead of using union 
c={"apple", "banana", "cherry"}
c1={"red","yellow","dred"}
c2={1,2,3}

c.union(c1,c2)
#to set a variable to store
d=c.union(c1,c2)
d
type(d)
d
c3=d|c
c3

{1, 2, 3, 'apple', 'banana', 'cherry', 'dred', 'red', 'yellow'}

In [3]:
c={"apple", "banana", "cherry"}
c1={"red","yellow","dred"}
c2={1,2,3}
c3={1,2,3,4,5,6}
c4=c.union(c1,c2,c3)
c4

{1, 2, 3, 4, 5, 6, 'apple', 'banana', 'cherry', 'dred', 'red', 'yellow'}

In [5]:
#(|)
c={"apple", "banana", "cherry"}
c1={"red","yellow","dred"}
c2={1,2,3}
c3={1,2,3,4,5,6}
c5=c|c1|c2|c3
c5

{1, 2, 3, 4, 5, 6, 'apple', 'banana', 'cherry', 'dred', 'red', 'yellow'}

In [11]:
c4={1, 2, 3, 4, 5, 6, 'apple', 'banana', 'cherry', 'dred', 'red', 'yellow'}
c5={1, 2, 3, 4, 5, 6, 'apple', 'banana', 'cherry', 'dred', 'red', 'yellow'}

c4.update(c5)
c4

{1, 2, 3, 4, 5, 6, 'apple', 'banana', 'cherry', 'dred', 'red', 'yellow'}

In [26]:
#INTERSECTION -to get the common element of both set,to use & instead of intersection
i={1,2,3,4,"abi"}
i1={"abi",2,3,6}
i2={"abinesh","python",2}
s=i.intersection(i1)
s1=i.intersection(i1,i2)            #to get intersection part of three set
print(s1)
s

{2}

{2, 3, 'abi'}

In [16]:
#(&)
s2=i&i1&i2
s2

{2}

In [29]:
#intersection_update
#original set changed
i1={1,2,3,4,"abi"}
i2={"abi",2,3,6}
i1.intersection_update(i2)   #to update the i1 set by intersect of i2
i1             #i1 updated to intersect of both element

{2, 3, 'abi'}

In [35]:
#DIFFERENCES -to get the difference of both set,to use (-) instead of difference
#it gives the 1set value of difference at a time
i1={1,2,3,4,"abi"}
i2={"abi",2,3,6}
i=i1.difference(i2)      #its to find the i1 diff
i3=i2.difference(i1)     #its to find the i2 diff
print(i)
i3

{1, 4}

{6}

In [23]:
#(-)
i1={1,2,3,4,"abi"}
i2={"abi",2,3,6}
i=i1-i2
i3=i2-i1
print(i3)
i

{6}

{1, 4}

In [1]:
#difference_update
#original set changed
i1={1,2,3,4,"abi"}
i2={"abi",2,3,6}
i2.difference_update(i1)             # doubt (1,4) why not update in i2 because they are different (compare intersection)
i2

{6}

In [28]:
#symmetric_difference
# to get the difference from both like difference but it gives the diff of both set
#to use(^) instead of symmetric_difference
#the original set unchanged

i1={1,2,3,4,"abi"}
i2={"abi",2,3,6}
i3=i1.symmetric_difference(i2)
i=i2.symmetric_difference(i1)
print(i3)
i

{1, 4, 6}

{1, 4, 6}

In [30]:
#(^)

i1={1,2,3,4,"abi"}
i2={"abi",2,3,6}
i3=i1^i2
i=i2^i1
print(i3)
i

{1, 4, 6}

{1, 4, 6}

In [38]:
#symmetric_difference_update
#the original set is changed

i1={1,2,3,4,"abi"}
i2={"abi",2,3,6,}
i1.symmetric_difference_update(i2)
i1

{1, 4, 6}